# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store
dataset_class/data_folder/all_train_df.csv
dataset_class/data_folder/apply_preprocess_train_df.csv
dataset_class/data_folder/tmp_final_train_df.csv
*.pth
